@model BQC.Models.Checklist.QuestionResponseInfoViewModel

<div class='col-lg-9 col-12' questionid="@Model.QuestionAndResponseInfo.ChecklistQuestionID">
    <p class="question-text">@Model.QuestionAndResponseInfo.QuestionContent</p>
</div>
