@model string

<div class="grey-border-container" style="min-height:300px">
    <div class="position-relative">
        <div class=" readonly-container">
            <h5 style="color:white"><i class="fas fa-exclamation-triangle pr-2"></i>@Model</h5>
        </div>
    </div>
</div>
