@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="text-center mt-4">
    <div style="font-size:120px;color:var(--red);">
        <i class="fas fa-exclamation-triangle"></i>
    </div>
    <br />
    <h3 style="color:var(--red);">And error occured.</h3>
    <p>You have tried to access a page that doesn't exist. 
    <br />
    Please contact a member of the Croudace Software Development if the problem persists.</p>
</div>

